:root {
    --main-color: #fff3a9;
    --secondary-color: #c50c0c;
    --font-color: #F2EBE5;
    --third-color: #ffefe5;
}

/* font */
/* <uniquifier>: Use a unique and descriptive class name */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* body {
    background-color: #fff;
} */


h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* Path: static/css/header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--main-color);
    color: var(--font-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header img {
    width: 120px;
}

header .menu {
    display: none;
}

header ul {
    display: flex;
}

header ul li {
    margin-left: 20px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-color);
    border-radius: 6px;   
}

header ul li:hover {
    background-color: var(--third-color);
    color: var(--main-color);
    transition: 0.3s;
}

header ul li a {
    color: var(--secondary-color);
}

main {
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
}