:root {
    --main-color: #171819;
    --secondary-color: #f13a11;
    --font-color-dark: #404040;
    --third-color: #909090;
    --bg-color: #f9f9f9;
    --font-color-white: #ffffff;
    --p-color: #666262;
}

/* font */
/* <uniquifier>: Use a unique and descriptive class name */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* body {
    background-color: #fff;
} */


h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* Path: static/css/header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--main-color);
    color: var(--font-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
}

header .menu {
    top: 50%;
    right: 30px;
    color: white;
    position: absolute;
    transform: translateY(-50%);
    font-size: 20px;
}

/* header .menu:hover + ul {
    display: flex;
} */


header ul.auth {
    position: absolute;
    flex-direction: column;
    top: 50%;
    right: 50px;
    background-color: var(--bg-color);
    color: white;
    border-radius: 6px;
    transform: translateY(10px);
}

header ul.auth{
    display: none;
}

header ul.not_auth{
    display: flex;
}

header ul li {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-color);
    border-radius: 6px;
}


header ul li:hover {
    background-color: var(--third-color);
    color: var(--main-color);
    transition: 0.3s;
}

header ul li a {
    color: var(--secondary-color);
}

header ul li:hover  a{
    color: var(--bg-color)
}

.container {
    display: flex;
    height: calc(100vh - 72.4px);
    margin-top: 72.4px;
}

.container nav {
    flex: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    max-width: 250px;
    min-width: 200px;
    padding: 10px 15px;
    height: 100%;
}

.container nav ul li {
    padding: 10px 15px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.container nav ul li a {
    color: #333;
}

.container nav ul li i {
    margin-right: 10px;
    color: white;
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container nav ul li:hover {
    background-color: var(--third-color);
    border-radius: 6px;
    margin-left: 5px;
}

.container nav ul li span {
    width: 25px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: var(--secondary-color);
    align-items: center;
    color: white;
    border-radius: 2px;
    position: relative;
    margin-right: 10px;
}

.container nav ul li span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -5px;
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.container nav ul.groups {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.container .active {
    background-color: var(--third-color);
    border-radius: 6px;
    margin-left: 5px;
}

main {
    width: 80%;
    margin: 72.4px auto;
}

.container main {
    flex: 6;
    margin: 20px 15px 0px;
}

.done {
    background-color: rgb(13, 178, 13);
    color: white;
    border-radius: 50%;
}