main {
    width: 90%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    max-width: 350px;
    padding: 45px 30px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-container .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: var(--second-color);
}

.login-container .checkbox {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-container .checkbox input {
    margin-right: 10px;
}

.login-container .checkbox label {
    color: var(--font-color);
}

.login-container .button {
    width: fit-content;
    margin: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    display: block;
    color: var(--font-color);
    font-size: 14px;
}

.login-container .button:hover {
    background-color: var(--third-color);
    color: var(--secondary-color);
    transition: 0.3s;
    font-weight: bold;
}

.login-container .notification {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: var(--second-color);
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.login-container .notification a {
    color: var(--main-color);
    font-weight: bold;
}