.profile_container {
    display: flex;
    height: calc(100vh - 72.4px);
    margin-top: 72.4px;
}

.profile_container nav {
    flex: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    max-width: 250px;
    min-width: 200px;
    padding: 10px 15px;
}

.profile_container nav ul li {
    padding: 10px 15px;
    transition: 0.3s;
}

.profile_container nav ul li a {
    color: #333;
}

.profile_container nav ul li i {
    margin-right: 10px;
    color: white;
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile_container nav ul li:hover {
    background-color: var(--third-color);
    border-radius: 6px;
    padding-left: 15px;
    margin-left: 5px;
}

.profile_container nav ul li span {
    width: 25px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: var(--secondary-color);
    align-items: center;
    color: white;
    border-radius: 2px;
    position: relative;
    margin-right: 10px;
}
.profile_container nav ul li span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -5px;
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.profile_container nav ul.groups {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.profile_container main {
    flex: 6;
}