{%extends 'base.html' %}

{%block content%}
<main>
    <h2>Create a new post</h2>
    <form method="POST" action="{{ url_for('main.create') }}">
        <div class="form-group">
            <input type="text" name="task_name" class="form-control" required placeholder="Task name">
            <input type="text" name="title" class="form-control" required placeholder="Title">
            <input type="text" name="descrition" class="form-control" required placeholder="Descrition">
            <input type="date" name="due_date" class="form-control" placeholder="Due date">
            <input type="radio" name="priority" value="low" id="1"><label for="1">low</label>
            <input type="radio" name="priority" value="medium" id="2"><label for="2">medium</label>
            <input type="radio" name="priority" value="high" id="3"> <label for="3">heigh</label>
            <input type="text" name="group" placeholder="Group">
        </div>
        <button type="submit">Create</button>
    </form>
</main>
{%endblock%}