{% extends 'base.html' %}

{% block content %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
{% endblock %}
<main class="container">
    <div>
        <div class="task-info">
            <h3>{{ task.task_name }}</h3>
            <p>{{ task.task_title }}</p>
            <div>
                <i class="fa-solid fa-calendar-day"></i>
                <p>{{ task.due_date }}</p>
            </div>
            <div>
                <i class="fa-solid fa-hashtag"></i>
                <p>{{ group_name }}</p>
            </div>
            <div>
                <i class="fa-solid fa-check"></i>
                <p>{{ task.status }}</p>
            </div>
            <div>
                <i class="fa-solid fa-comment"></i>
                <p>{{ task.task_description }}</p>
            </div>
        </div>
        <div class="task-actions">
            <a href="{{ url_for('main.edit', task_id=task.id) }}" class="edit">Edit</a>
            <a href="{{ url_for('main.delete', task_id=task.id) }}" class="delete">Delete</a>
        </div>
    </div>
</main>
{% block js %}
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}
{% endblock %}